configuration{
    modi:		"combi";
    combi-modi:		"window,drun,run";
    icon-theme: "breeze";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " ";
}


